**/.vs
**/.idea
**/.vscode
**/bin
**/obj
**/out
**/TestResults
**/coverage
**/.env
**/.env.*
!**/.env.example
**/*.user
**/*.suo
**/node_modules
**/dist
.git
.gitignore
.gitattributes
README.md
docs/
postman/
tests/
**/Dockerfile
**/docker-compose*.yml
!deploy/docker-compose.yml
